@model LoginViewModel
<title>Авторизация</title>
<style>
    div.r3 {
        width: 350px;
        height: 190px;
        border: 5px solid;
        border-radius: 10px 20px;
    }
</style>
<p class="text-center">Нет аккаунта? <a asp-action="Register" asp-controller="Account">Зарегистрируйтесь!</a></p>
<form asp-action="Login" asp-controller="Account">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="r3 m-auto py-3 text-center">
        <div class="form-group ml-2">
            <label asp-for="Login">Введите логин</label>
            <input type="text" asp-for="Login" />
            <span asp-validation-for="Login" />
        </div>
        <div class="form-group">
            <label asp-for="Password">Введите пароль</label>
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div class="form-group">
            <input type="submit" value="Войти" class="btn btn-outline-dark" />
        </div>
    </div>
</form>