@await Html.PartialAsync("_accSideBar")
@model PostViewModel
<h3>Добавление поста</h3>
<form method="post" asp-controller="Account" asp-action="Post" enctype="multipart/form-data">
    <div>
        <div class="validation" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="Title">Введите заголовок</label><br />
            <input asp-for="Title" autocomplete="off" type="text" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ShortDesc">Введите краткое описание</label><br />
            <input type="text" autocomplete="off" class="form-control" asp-for="ShortDesc" />
            <span asp-validation-for="ShortDesc" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LongDesc">Содержание поста</label><br />
            <textarea asp-for="LongDesc" class="form-control"></textarea>
            <span asp-validation-for="LongDesc" class="text-danger"></span>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="IsPrivate" />
            <label asp-for="IsPrivate">Приватный пост?</label><br />
        </div>
        <div class="form-group">
            <label asp-for="uploadedFile">Добавить изображение</label><br />
            <input type="file" class="form-control-file" asp-for="uploadedFile">
        </div>
        <div class="form-group">
            <input type="submit" class="btn-group" value="Опубликовать" />
        </div>
    </div>
</form>